{% extends "base.html" %}
{% block title %}pyTicket - Dashboard{% endblock %}
{% block content %}

<h1>Dashboard</h1>
<p>Welcome, {{ username }}!</p>
<p>Email: {{ email }}</p>
<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Open Tickets:</h5>
      <ul>
        {% for ticket in open_tickets %}
            <li><a href="{{ url_for('ticket_details', ticket_id=ticket.id) }}">{{ ticket.title }}</a></li>
        {% endfor %}
    </ul>
      <a href="{{ url_for('create_ticket') }}" class="btn btn-primary">New Ticket</a>
    </div>
  </div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% endblock %}

  
