<!doctype html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="C:\Users\sully\repos\landing-page\styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="{{ url_for('home') }}" class="navbar-brand">pyTicket</a>
<!-- This button is to create hamburger menu when screen gets too narrow (more responsive) -->
        <button 
          class="navbar-toggler"
          type="button"                                       
          data-bs-toggle="collapse"
          data-bs-target="#navmenu">

          <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{{ url_for('my_account') }}" class="nav-link">My Account</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            </li>
			<li class="nav-item">
				<a href="{{ url_for('dashboard') }}" class="nav-link">Dashboard</a>
			  </li>
          </ul>
        </div>
      </div>
      
    </nav>
      
<!-- Showcase -->
<section class="bg-primary text-light mt-5 p-8 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <!--I put flex in the div class below to cointain the img and text flexed-->
    <div class="d-sm-flex align-items-center justify-content-between"> 
      <div>
        <h1>Start Managing Your Support With <span class="text-warning">pyTicket</span></h1>
        <p class="lead my-4">
          State of the art Support Management and Tracking System created all in the Python Programming Language.
        </p>
		<a href="{{ url_for('register') }}">
        <button name="home-page-enrollment" class="btn btn-warning btn-lg">Create FREE Account</button>
		</a>
      </div>
      <img class="img-fluid w-40" src="/static/images/python.png" alt="Python">
    </div>
	<hr/>
  </div>
</section>

<!-- Boxes -->
<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/static/images/Facebook_logo_(square).png" alt="Facebook">
          <div class="card-body">
            <h5 class="card-title">Visit us on <a href="https://www.facebook.com">Facebook!</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/static/images/instagram_PNG3.png" alt="Instagram">
          <div class="card-body">
            <h5 class="card-title">Visit us on <a href="https://instagram.com">Instagram!</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/static/images/twitter_PNG29.png" alt="Twitter">
          <div class="card-body">
            <h5 class="card-title">Visit us on <a href="https://twitter.com">Twitter!</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</section>

<!-- More info with picture-->
<hr/>
<section class="bg-info text-light p-5 text-center">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h4 class="display-4">We are tech-oriented from the bottom up!</h4>
      <img class="fluid w-50" src="/static/images/code.jpg" alt="Technology Picture">
    </div>

  </div>
</section>

<!-- Testimonial -->
<section class="bg-primary text-light">
  <div class="container p-5">
    <h2 class="display-3">Our Community Testimonials</h2>
    <blockquote class="blockquote">
      <p class="mb-0">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum asperiores placeat repellat soluta fugit suscipit corporis rerum accusantium! Adipisci voluptatem atque iusto corporis reiciendis molestias laboriosam eos esse molestiae sed. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <footer class="blockquote-footer text-light pt-3">
        Sully Elhassan from <cite title="Source Title">The Only Opinion that Matters</cite>
      </footer>
    </blockquote>
    <blockquote class="blockquote">
      <p classs="mb-0">
        Doloribus quas quae nihil, eos ea aliquam! Mollitia minus aperiam molestias odit dolorem esse nostrum iusto sequi? Unde, quaerat? Suscipit, quidem magni! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos fugit minus molestias libero, voluptate iste voluptatem architecto omnis aliquid sunt et ut necessitatibus culpa, obcaecati quisquam, qui odio hic maxime!
      </p>
      <footer class="blockquote-footer text-light pt-3">
        Sully Elhassan from <cite title="Source Title">Another Popular Opinion</cite>
      </footer>
    </blockquote>
  </div>
</section>

<!-- Copyright -->
<section class="bg-dark text-light p-1 text-center font-weight-light">
  <p>Sully Elhassan 2022</p>
</section>

      <script>
        $('#navId a').click(e => {
          e.preventDefault();
          $(this).tab('show');
        });
      </script>
    <!--  Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>