{% extends "base.html" %}
{% block title %}pyTicket{% endblock %}
{% block content %}
    <h1>Home</h1>
    {% if current_user.is_authenticated %}
    <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Logged in as: {{ username }}</h5>
          <p class="card-text">Email: {{ email }}!</p>
          <p class="card-text">Go to the User Dashboard here:</p>
          <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    {% else %}
    <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title"><p>Welcome, Guest</p></h5>
          <p class="card-text">Click here to Register a New Account.</p>
          <a href="{{  url_for('register')  }}" class="btn btn-primary">Register</a>
          <h5>OR</h5>
          <p class="card-text">Click here to Login.</p>
          <a href="{{  url_for('login') }}" class="btn btn-primary">Login</a>
        </div>
      </div>
    {% endif %}
{% endblock %}