{% extends "base.html" %}
{% block title %}Ticket Details{% endblock %}
{% block content %}
    <h1>Ticket Details</h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ ticket.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date: {{ ticket.date.strftime('%Y-%m-%d %H:%M:%S') }}</h6>
          <p class="card-text">{{ ticket.description }}</p>
          <p class="card-text">Assignee: {{ ticket.assignee.username }}</p>
          <p class="card-text">Creator: {{ ticket.creator.username }}</p>
        </div>
      </div>

{% endblock %}
